.container {
	display: flex;
	flex-wrap: nowrap;
	background-color: blue;
}

.container > div {
	background-color: crimson;
	width: 100px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
}